{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}">
  <i class="ion-social-dribbble-outline"></i><i class="ion-social-dribbble hover"></i></a>{% endif %}

{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}">
  <i class="ion-ios-email-outline"></i></a>{% endif %}

{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
  <i class="ion-social-facebook-outline"></i></a>{% endif %}

{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
  <i class="ion-ios-camera-outline"></i></a>{% endif %}

{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">
  <i class="ion-social-github-outline"></i></a>{% endif %}

{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}">
  <i class="ion-social-instagram-outline"></i></a>{% endif %}

{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
  <i class="ion-social-linkedin-outline"></i></a>{% endif %}

{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
  <i class="ion-social-pinterest-outline"></i></a>{% endif %}

{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">
  <i class="ion-social-rss-outline"></i></a>{% endif %}

{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
  <i class="ion-social-twitter-outline"></i></a>{% endif %}

{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
  <i class="svg-icon stackoverflow"></i></a>{% endif %}

{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}">
  <i class="ion-social-youtube-outline"></i></a>{% endif %}

{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
  <i class="svg-icon googleplus"></i></a>{% endif %}
